@model Final_5.Models.Users

@*@{
        ViewBag.Title = "Login";
    }

    <h2>Login</h2>*@
<div class="col-md-9">
    <h1>TEEEEEEEEEEEEEESSSSSSSSSSSSSSSSSSSST</h1>
</div>

<div class="panel-group" style="width:400px;  margin-top:100px; margin-left:85%;">
    <div class="panel panel-primary">
        <div class="panel-heading" style="width:400px"><h3>Login</h3></div>
        <div class="panel-body" style="width:400px">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @*<h4>User</h4>*@
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.userId, "User ID:", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.userId, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.userId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.password, "Password:", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.PasswordFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Login" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            }


            <form id="myForm2">
                @Html.AntiForgeryToken()
                <div class="form-horizontal">

                    <div class="form-group">
                        <div class="col-md-12">
                            <a href="#" class="btn btn-default" style="background-color:yellow" onclick="LoginFinger()">FingerPrint</a>
                        </div>
                    </div>

                </div>
            </form>

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
</div>
<br />
<div class="panel-group" style="width:400px; margin-left:85%;">
    <div class="panel panel-primary">
        <div class="panel-heading" style="width:400px"><h3>Search Doctor</h3></div>
        <div class="panel-body" style="width:400px">

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    var LoginFinger = function () {
        // debugger
        var data = $("#myForm2").serialize();

        $.ajax({
            type: "Post",
            url: "/Login/loginFinger",
            data: data,
            success: function (response) {
                // debugger
                if (response == "fail") {
                    alert("Login INVALID! Please try again.")
                    window.location.href = "/Login/Login";
                }
                else if (response != "fail") {
                    window.location.href = "/AnotherArea/Home2/Inde2";
                }
            }

        })
    }
</script>
