@model IEnumerable<Final_5.Models.Turn>


@{
    ViewBag.Title = "Index";
    var concatString = "";
    var concatString2 = "";

}

<h2>Show all turn</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.userId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.medicineName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Practics.practicsName)
        </th>

        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        var dateHour = item.date.Split(' ');
        var x = "You have a turn set for you with a doctor who specializes in..." + item.practicsName + "...practis in city named..." + item.city + "...schedule for..." + dateHour[0] + " o clock";
        concatString += x;
        var y = "Your doctor has prescribed a prescription for you it is..." + item.medicineName + "doctor commentary is..." + item.comment;
        concatString2 += y;

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.userId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medicine.medicineName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Practics.practicsName)
            </td>
            @if (Session["permissions"].Equals("1") || Session["permissions"].Equals("3"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            }

            else
            {
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            }
        </tr>
    }
</table>

<button id="readme" hidden="hidden" onclick="speek('@concatString')">Click</button>
<button id="readme2" hidden="hidden" onclick="speek('@concatString2')">Click</button>


<script>
    document.onkeydown = function (e) {
        if (e.key === "q")
            document.getElementById("readme").click();
        if (e.key === "w")
            document.getElementById("readme2").click();
    }

    function speek(conta) {
        var msg = new SpeechSynthesisUtterance();
        msg.text = conta;
        window.speechSynthesis.speak(msg);
        window.location = "http://localhost:11092/AnotherArea/Home2/Inde2";
    }
</script>
