@model IEnumerable<Final_5.Models.Turn>

@{
    ViewBag.Title = "Index";
}
@*<h2>Show all turn</h2>*@
<div style="margin-top:30px; margin-left:17%;">
    <img src="~/Content/Images/patient2.jpg" style="width:77% ; height:70%" class="img-rounded" alt="Cinque Terre" />
</div>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
@*<div style="margin-left:0%; margin-top:15px">
    <p>
        <a class="btn btn-info" href="~/Turn/Create">Create New Turn</a>
    </p>
</div>*@
<table class="table" style="margin-top:15px">
    <tr>
        <th>
            ID Number
        </th>
        <th>
            Date
        </th>
        <th>
            Medical Practice
        </th>
        <th>
            City
        </th>
        @*<th>
            Medical Summary
        </th>*@
        <th>
            Prescription
        </th>

        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        //DateTime dateCurrent = new DateTime();
        //dateCurrent = DateTime.Now.Date;
        //DateTime listDate = new DateTime();
        //listDate = Convert.ToDateTime(item.date);
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.userId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Practics.practicsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.comment)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Medicine.medicineName)
            </td>

            @*@if (dateCurrent <= listDate)
                {*@
            @if (Session["permissions"].Equals("1") || Session["permissions"].Equals("3"))
                {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            }

            else
            {
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            }
            @*}
                else
                {
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id })
                    </td>
                }*@
        </tr>
    }
</table>
