@model Final_5.Models.Turn

@{
    ViewBag.Title = "Delete";
}
    <h2>Cancel Turn</h2>

    <h3>Are you sure to cancel this turn?</h3>
    <div style="margin-left:30%">
        @*<h4>Turn</h4>*@
        <hr />
        <dl class="dl-horizontal">
            <dt>
                ID Number:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.userId)
            </dd>

            <dt>
                Date:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.date)
            </dd>

            <dt>
                Hour:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.hour)
            </dd>

            <dt>
                City:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.city)
            </dd>
            <dt>
                Medical Practice:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Practics.practicsName)
            </dd>

            <dt>
                Medical Summary:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.comment)
            </dd>

            <dt>
                Prescription:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Medicine.medicineName)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            if ((Session["permissions"].Equals("1") || Session["permissions"].Equals("3")) && Session["userNowId"] == null)
            {
                <div class="form-actions no-color" style="margin-left:65px">
                    <input type="submit" value="Cancel Turn" class="btn btn-danger" /> |
                    <a class="btn btn-info" href="~/Turn/AllUsers">Back to List</a>
                </div>
            }
            else
            {
                <div class="form-actions no-color" style="margin-left:65px">
                    <input type="submit" value="Cancel Turn" class="btn btn-danger" /> |
                    <a class="btn btn-info" href="~/Turn/Index">Back to List</a>
                </div>
            }


        }
    </div>
