@model Final_5.Models.Turn

@{
    ViewBag.Title = "Details";
}

<h2>Information of the Turn</h2>

<div style="font-size:17px; margin-left:33%">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID Number:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.userId)
        </dd>

        <dt>
            Date:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        @*<dt>
            Hour:
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.hour)
        </dd>*@

        <dt>
            City:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>
        <dt>
            Medical Practice:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Practics.practicsName)
        </dd>

        <dt>
            Medical Summary:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment)
        </dd>

        <dt>
            Prescription:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicine.medicineName)
        </dd>

    </dl>
</div>

@if ((Session["permissions"].Equals("1") || Session["permissions"].Equals("3")) && Session["userNowId"] == null)
{
    <h3 style="margin-left:38%">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "AllUsers")
    </h3>
}
else
{
    <p style="margin-left:42%;">
       <a class="btn btn-info btn-lg" href="~/Turn/Index">Back to List</a>
    </p>
}

