@model IEnumerable<Final_5.Models.Turn>

@{
    ViewBag.Title = "Index";
    var str = "";
}

@*<h2>Show all turn</h2>*@
<div style="margin-top:30px; margin-left:10%;">
    <img src="~/Content/Images/14.jpg" style="width:90% ; height:70%" class="img-rounded" alt="Cinque Terre" />
</div>

<br />

<table class="table">
    <tr>
        <th>
            ID Number
        </th>
        <th>
            Date
        </th>
        <th>
            City
        </th>
        <th>
            Medical Summary
        </th>
        <th>
            Prescription
        </th>
        <th>
            Medical Practice
        </th>

        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.userId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medicine.medicineName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Practics.practicsName)
            </td>
            @if (Session["permissions"].Equals("1") || Session["permissions"].Equals("3"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            }
            else
            {
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            }
        </tr>
    }
</table>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
    <a class="btn btn-primary" href="~/Turn/Create" style="margin-left:45%; margin-top:10px">Create New Turn &raquo;</a>
</p>
