@model IEnumerable<Final_5.Models.Doctor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Practics.practicsName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Practics.practicsName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idDoctor }) |
            @Html.ActionLink("Details", "Details", new { id=item.idDoctor }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idDoctor })
        </td>
    </tr>
}

</table>
