@model Final_5.Models.Users

@{
    ViewBag.Title = "Create";
}

@*<h2>Create</h2>*@

<div style="margin-top:30px; margin-left:10%;">
    <img src="~/Content/Images/people2.jpg" style="width:90% ; height:70%" class="img-rounded" alt="Cinque Terre" />
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="margin-left:30%">
        @*<h4>Users</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.userId, "ID Number", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.userId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.userId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.password,"Password", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
                @Html.LabelFor(model => model.fileFinger,"Finger Print", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@Html.EditorFor(model => model.fileFinger, new { htmlAttributes = new { @class = "form-control" } })*@
                    <input type="text" class="form-control" value="not" name="fileFinger" />
                    @Html.ValidationMessageFor(model => model.fileFinger, "", new { @class = "text-danger" })
                </div>
            </div>

        <div class="form-group">
            @Html.LabelFor(model => model.firstName,"First Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.firstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.firstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lastName,"Last Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.address,"Address", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.phone,"Phone Number", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idDoctor, "Doctor ID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idDoctor", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idDoctor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.permissions,"Permission", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.permissions, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.permissions, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10" style="margin-left:27%;" >
                <input type="submit" value="Create" class="btn btn-primary btn-lg" />
            </div>
        </div>
    </div>
}

<br />
<div style="margin-left:17%">
    <form id="myForm1">
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @*<div class="form-group">*@
            <div>
                @*<a href="#" class="btn btn-default" style="height:80px;width:300px; text-align: center; background-color:yellow" onclick="CreateFinger()"><h2>FingerPrint</h2></a>*@
                <button type="button" onclick="CreateFinger()" style="background-color:lightgoldenrodyellow; border-bottom-color:none;border:none ">
                    <p style="font-weight: bold;">Create using FingerPrint</p>
                    <img src="~/Content/Images/fingerprint.png" style="width:12%; height:12%" />
                </button>
            </div>
        </div>
        @*</div>*@
    </form>
</div>

<div style="margin-left:48%; margin-top:40px">
    @*@Html.ActionLink("View All Users", "Index")*@
    <p>
        <a class="btn btn-info" href="~/Users/Index">View All Users &raquo;</a>
    </p>
</div>


<script>

    var CreateFinger = function () {
        // debugger
        var data = $("#myForm1").serialize();

        $.ajax({
            type: "Post",
            url: "/Users/CreateFinger",
            data: data,
            success: function (response) {
                // debugger
                 if (response != "fail") {
                    window.location.href = "/Users/Create";
                }
            }

        })
    }
</script>
