@model Final_5.Models.Users

@{
    ViewBag.Title = "Details";
}

<h2>User Information</h2>

<div>
    @*<h4>Users</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID Number:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userId)
        </dd>
        <dt>
            Password:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            FingerPrint:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fileFinger)
        </dd>

        <dt>
            First Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            Last Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
           Address:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            Phone Number:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)     
        </dd>

        <dt>
            Permission:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.permissions)
        </dd>

        <dt>
            Doctor ID:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctor.idDoctor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.userId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
