@model Final_5.Models.DateTimeByDoctor

@{
    ViewBag.Title = "Details";
}

<h2>Information about the turn</h2>

<div style="margin-left:30%; font-size:17px">
    @*<h4>DateTimeByDoctor</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Doctor Practic:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.practicsName)
        </dd>

        <dt>
            Doctor ID:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idDoctor)
        </dd>

        <dt>
            Doctor Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctor.firstName)
        </dd>

        <dt>
            Date Of Turn:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.insertDate)
        </dd>

        <dt>
            City:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            Turn ID:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.turnId)
        </dd>



    </dl>
</div>
<h4 style="margin-left:35%">
    @Html.ActionLink("Edit the turn", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</h4>
