@model IEnumerable<Final_5.Models.DateTimeByDoctor>

@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<div style="margin-top:30px; margin-left:17%;">
    <img src="~/Content/Images/patients.jpg" style="width:77% ; height:70%" class="img-rounded" alt="Cinque Terre" />
</div>

<div style="margin-left:0%; margin-top:15px">
    <p>
        <a class="btn btn-info" href="~/DateTimeByDoctor/Create">Create New</a>
    </p>
</div>
<table class="table">
    <tr>
        <th>
            Doctor Practic
        </th>
        <th>
            Doctor ID
        </th>
        <th>
            Doctor Name
        </th>
        <th>
            Date for Turn
        </th>
        <th>
            Turn ID
        </th>
        <th>
            City
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.practicsName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idDoctor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Doctor.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.insertDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.turnId)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.city)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
