@model Final_5.Models.DateTimeByDoctor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DateTimeByDoctor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.practicsName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.practicsName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.insertDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.insertDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.turnId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.turnId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doctor.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctor.firstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
