@model IEnumerable<Final_5.Models.DateTimeByDoctor>

@{
    ViewBag.Title = "Index";
    var concatString = "";
    var count = 1;
    var January = "January";
    var February = "February";
    var March = "March";
    var April = "April";
    var May = "May";
    var June = "June";
    var July = "July";
    var August = "August";
    var September = "September";
    var October = "October";
    var November = "November";
    var December = "December";


}

<h2 style="color:orange; margin-top:50px">Available Practics</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr style="font-size:20px; color:orange">
        <th>
            Doctor Practic
        </th>
        <th>
            Doctor ID
        </th>
        <th>
            Doctor Name
        </th>
        <th>
            Date to Turn
        </th>
        <th>
            City
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.turnId.Equals("0"))
        {
            var mRes = "";

            var day = item.insertDate.Date.Day;
            var mounth = item.insertDate.Date.Month;

            if (mounth == 1)
            {
                mRes = January;
            }
            if (mounth == 2)
            {
                mRes = February;
            }
            if (mounth == 3)
            {
                mRes = March;
            }
            if (mounth == 4)
            {
                mRes = April;
            }
            if (mounth == 5)
            {
                mRes = May;
            }
            if (mounth == 6)
            {
                mRes = June;
            }
            if (mounth == 7)
            {
                mRes = July;
            }
            if (mounth == 8)
            {
                mRes = August;
            }
            if (mounth == 9)
            {
                mRes = September;
            }
            if (mounth == 10)
            {
                mRes = October;
            }
            if (mounth == 11)
            {
                mRes = November;
            }
            if (mounth == 12)
            {
                mRes = December;
            }

            var x = count + "available doctor you have is for practis..." + item.practicsName + "...in date..." + item.insertDate.ToShortTimeString() + "oclock..." + day + "...in..." + mRes + "...city..."+ item.city;
            concatString += x;
            <tr style="font-size:18px; color:white">
                <td>
                    @Html.DisplayFor(modelItem => item.practicsName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idDoctor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctor.firstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.insertDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.city)
                </td>
                @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>*@
            </tr>
        }
    }

</table>

<button id="readme" hidden="hidden" onclick="speak('@concatString')">Click me</button>



<script>

    document.onkeydown = function (e) {
        if (e.key === "q")
            document.getElementById("readme").click();

    }

    function speak(content) {
        var msg = new SpeechSynthesisUtterance();
        msg.text = content;
        window.speechSynthesis.speak(msg);
        window.location = "http://localhost:11092/AnotherArea/Home2/Inde2";
    }
</script>